
body {
  background: linear-gradient(to right, #ff7eb9, #8ac4ff);
  font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
}

.card-custom {
  border: 2px solid #f06292; 
  background: linear-gradient(to bottom right, #81d4fa, #ff7eb9); 
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.card-custom .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-custom .card-image {
  height: 200px; 
  object-fit: cover; 
}

.btn-custom {
  background-color: #f06292; 
  border-color: #f06292;
}

.btn-custom:hover {
  background-color: #81d4fa; 
  border-color: #81d4fa;
}


.navbar-custom {
  border-bottom: 2px solid #f06292; 
}

.container-custom {
  background: linear-gradient(to bottom right, #f06292, #81d4fa);
  padding: 20px;
  border-radius: 10px;
}
